{% extends 'form.html' %}


{% block form %}
<div class="card-body ">
    <div class="row">
        <div class="col-lg-7">
            <div class="card card-secondary">
                <div class="card-header bg-danger">
                    <h3 class="card-title"><i class="fas fa-car"></i>  Campos obligatorios</h3>
                </div>
                <div class="card-body bg-gray">                               
                    {{form.nombre}}
                    {{form.modelo}}
                    {{form.placa}}
                    {{form.anio}}                            
                    {{form.tanque}}   
                    
                    <div class="row">
                        <div class="col-6">
                            {{form.tipo.label}}
                            {{form.tipo}}                                                        
                        </div>
                        <div class="col-6">
                            <a href="{% url 'gestion:tipovehiculo' %}" target="blank" class="btn btn-outline-primary ml-1 mt-4">Crear nuevo tipo</a>    
                        </div>
                    </div>                        
                    <div class="row">
                        <div class="col-6">
                            {{form.marca.label}}
                            {{form.marca}}
                        </div>
                        <div class="col-6">
                            <a href="{% url 'gestion:marcas' %}" target="blank" class="btn btn-outline-primary mt-4">Crear nueva marca</a>    
                        </div>
                    </div>                     
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="card card-secondary">
                <div class="card-header bg-warning">
                    <h3 class="card-title"><i class="fas fa-tachometer-alt"></i>  Campos no obligatorios</h3>
                </div>
                <div class="card-body bg-gray">        
                    {{form.color}}                                                                          
                    {{form.num_chasis}}
                    {{form.VIN}}
                    {{form.matricula}}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock form %}

{% block javascript %}
<script>
var $ = jQuery.noConflict();
        $('form').on('submit', function (e) {
        e.preventDefault();
        var parameters = $(this).serializeArray(); /* obtiene todos lo datos a manera de json */
        console.log(parameters);
        $.ajax({
            url: window.location.pathname,
            type: 'POST',
            data: parameters,
            dataType: 'json'
        }).done(function (data){                        
            if(!data.hasOwnProperty('error')){ 
                toastr.success('Marca agregada correctamente', 'Excelente!',{
                    "progressBar": true,
                    "positionClass": "toast-bottom-full-width",
                    "timeOut": "1500",
                });
                setTimeout(() => {location.href = '{{list_url}}'}, 1500);                
                return false;                
            }                
            alert('Ya existe vehiculo con esa placa');        
        }).fail(function(jqXHR, textStatus, errorThrown){            
            alert(textStatus + ': ' + errorThrown);            
        });
    });
</script>    
{% endblock javascript %}