{% extends 'list.html' %}
{% load static %}
{% block head_list %}

{% endblock %}

{% block columns %}
    <tr>        
        <th scope="col" style="width: 80%;">Nombres</th>
        <th scope="col" style="width: 20%;">Opciones</th>
    </tr>
{% endblock %}


{% block javascript %}
<script>
  
    var miTabla;
    let modal_title;

    function getData(){
      $(function () {
        miTabla = $('#data').DataTable({
            responsive: true,
            autoWidth: false,
            destroy: true,
            deferRender: true, /*  Para cuando hay más de 50.000 registros*/
            ajax: {
                url: window.location.pathname,
                type: 'POST',
                data: {
                    'action': 'searchdata'
                },
                dataSrc: "" /*Para identificar todos los datos con un nombre de variable*/
            },
            columns: [
                {"data": "nombre"},              
                {"data": "anio"},/*Esta se repite para poder tener la columna de los botones*/
            ],          
            columnDefs: [
                {
                    targets: [-1],
                    class: 'text-center',
                    orderable: false,/*Esta columna de botones no es necesario que se ordene*/
                    render: function (data, type, row) {
                        var buttons = '<a href="#" rel="edit" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></a> ';
                        buttons += '<a href="#" rel="delete" type="button" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>';
                        return buttons;
                    }
                },
            ],
            initComplete: function (settings, json) {
              /*Esto se ejecuta cuando se ha cargado la tabla*/
              toastr.success('Tabla cargada completamente', 'Excelente!',{
                "progressBar": true,
                "positionClass": "toast-bottom-right"
              });
            }
        });
      });
    }
    
    $(function () {
      modal_title = $('.modal-title');
      getData();
    
    $('.btnAdd').on('click', function(){
      $('input[name = "action"]').val('add');
      modal_title.find('span').html('Creación de una marca');
      modal_title.find('i').removeClass().addClass('fas fa-plus')      
      $('form')[0].reset();
      $('#crear_registro').modal('show');      
      let btn = document.getElementById("id_nombre");
      btn.focus();
    });
    
    $('#data tbody')
    .on('click', 'a[rel="edit"]', function(){
      modal_title.find('span').html('Edición de una marca');
      modal_title.find('i').removeClass().addClass('fas fa-edit');
      var tr = miTabla.cell($(this).closest('td, li')).index();
      var data = miTabla.row(tr.row).data();
      $('input[name="action"]').val('edit');
      $('input[name="id"]').val(data.id);
      $('input[name="nombre"]').val(data.nombre);
      $('#crear_registro').modal('show');
    })
    .on('click', 'a[rel="delete"]', function () {
        var tr = miTabla.cell($(this).closest('td, li')).index();
        var data = miTabla.row(tr.row).data();
        var parameters = new FormData();
        parameters.append('action', 'delete');
        parameters.append('id', data.id);    
        submit_with_ajax(window.location.pathname, 'Notificación', '¿Estas seguro de realizar eliminar el siguiente registro?', parameters, function () {
          miTabla.ajax.reload();
        });
    });
    
    
    $('form').on('submit', function (e) {
      e.preventDefault();
      var parameters = $(this).serializeArray(); 
      console.log(parameters);
        $.ajax({
          url: window.location.pathname,
          type: 'POST',
          data: parameters,
          dataType: 'json'
        }).done(function (data){                        
            if(!data.hasOwnProperty('error')){               
                $('#crear_registro').modal('hide');                
                miTabla.ajax.reload();
                toastr.success('Acción realizada correctamente', 'Excelente!',{
                  "progressBar": true,
                  "positionClass": "toast-bottom-right"
                });
                return false;
            }                 
            alert('Ese dato ya está almacenado')      
        }).fail(function(jqXHR, textStatus, errorThrown){
            alert(textStatus + ': ' + errorThrown);            
        });
      });
    });    

    let next = document.getElementById("data_next");
    next.addEventListener('click', ()=>{
      alert('funciona');
    })

    </script>
{% endblock javascript %}