{% extends 'baseLogin.html' %}


{% block formUser %}
<style>label{display: none;}  </style>
    <form action="" method="post">{% csrf_token %}    
            {{form.username}}
            {{form.email}}            
            <div class="row">
              <div class="col">
                {{form.password1}}
              </div>
              <div class="col">
                {{form.password2}}
              </div>
            </div>
            <p>Utiliza ocho caracteres como mínimo con una combinación de letras, números y símbolos
            </p>
        <input type="submit" class="btn btn-primary btn-block mb-3" value="Crear cuenta">
        <a class=""  href="{% url 'login' %}" >Prefiero iniciar sesión</a>
  </form>
{% endblock formUser %}

    