{% load static %}
<aside class="main-sidebar sidebar-light-primary elevation-4 " 
style="background: linear-gradient(to right, #8e9eab, #eef2f3);">
<!-- background: linear-gradient(to right, #e0eafc, #cfdef3); Colors of sky-->
<!--teal, maroon, pink, olive, lime, navy, indigo, orange, purple, fuchsia-->
    <a href="#" class="brand-link">
        <img src="{% static 'img/mecanicapp.ico' %}"
            alt="AdminLTE Logo"
            class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">Mecanicapp</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{request.user.get_image}}" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Hola {{ request.user.username }}</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header">Servicios</li>
                <li class="nav-item">
                    <a href="{% url 'gestion:vehiculo' %}" class="nav-link">
                        <i class="fas fa-car"></i>
                        <p>
                            Vehiculos
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'gestion:lavado' %}" class="nav-link">
                        <i class="fas fa-tint"></i>                        
                        <p>
                            Lavados
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-gas-pump"></i>
                        <p>
                            Recargas
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'gestion:mantenimiento' %}" class="nav-link">
                        <i class="fas fa-oil-can"></i>
                        <p>
                            Mantenimientos
                        </p>
                    </a>
                </li>
                <li class="nav-header">Datos adicionales</li>

                <li class="nav-item has-treeview" style="background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);">
                    <a href="#" class="nav-link">  
                        <i class="nav-icon far fa-circle text-info"></i>                      
                        <p>Desplegar<i class="fas fa-angle-left right"></i></p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;"> 
                        <li class="nav-item">
                            <a href="{% url 'gestion:local' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Locales</p>
                            </a>
                        </li>                                                
                        <li class="nav-item">
                        <a href="{% url 'gestion:tipomantenimiento' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Tipo Mantenimiento</p>
                        </a>
                        </li>                        
                        <li class="nav-item">
                        <a href="{% url 'gestion:tipovehiculo' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Tipo vehiculo</p>
                        </a>
                        </li>                        
                        <li class="nav-item">
                        <a href="{% url 'gestion:tipolavado' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Tipo lavado</p>
                        </a>
                        </li>           
                        <li class="nav-item">
                            <a href="{% url 'gestion:marcas' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Marcas</p>
                            </a>
                        </li>                        
                        <li class="nav-item">
                        <a href="{% url 'gestion:odometro' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Odómetros</p>
                        </a>
                        </li>                        
                        <li class="nav-item">
                        <a href="{% url 'gestion:gasolinera' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Gasolineras</p>
                        </a>
                        </li>                        
                        <li class="nav-item mb-5">
                        <a href="{% url 'gestion:tipocombustible' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Tipos de combustibles</p>
                        </a>
                        </li>                                                    
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>
