{% extends 'form.html' %}


{% block form %}
<div class="card-body ">
    <div class="row ">
        <div class="mx-auto col-lg-8">
            <div class="card">
                
                <div class="card-body ">  
                    {{form.valor.label}}
                    {{form.valor}}
                    <div class="row " >
                        <div class="col-8">
                            {{form.vehiculo.label}}
                            {{form.vehiculo}}
                        </div>
                        <div class="col-4 mt-4">
                            <a href="{% url 'gestion:create_vehiculo' %}" target="blank" class="btn btn-primary">Crear Vehículo</a>
                        </div>                        
                    </div>    
                    <div class="row " >
                        <div class="col-8">
                            {{form.lavadero.label}}
                            {{form.lavadero}}
                        </div>
                        <div class="col-4 mt-4">
                            <a href="{% url 'gestion:lavadero' %}" target="blank" class="btn btn-primary">Crear lavadero</a>
                        </div>                        
                    </div>    
                    <div class="row " >
                        <div class="col-8">
                            {{form.tipo_lavado.label}}
                            {{form.tipo_lavado}} 
                        </div>
                        <div class="col-4 mt-4">
                            <a href="{% url 'gestion:tipolavado' %}" target="blank" class="btn btn-primary">Crear tipo lavado</a>
                        </div>                        
                    </div>                                                                             
                    {{form.comprobante.label}}                                          
                    {{form.comprobante}}
                    {{form.nota.label}}
                    {{form.nota}}
                </div>
            </div>
        </div>        
        </div>
    </div>
</div>
{% endblock form %}
