{% extends 'form.html' %}


{% block form %}
<div class="card-body ">
    <div class="row">
        <div class="mx-auto col-lg-8">
            <div class="card">                
                <div class="card-body ">  
                    {{form.valor.label}}
                    {{form.valor}}
                    <div class="row " >
                        <div class="col-8">
                            {{form.vehiculo.label}}
                            {{form.vehiculo}}
                        </div>
                        <div class="col-4 mt-4">
                            <a href="{% url 'gestion:create_vehiculo' %}" target="blank" class="btn btn-primary">Crear Vehículo</a>
                        </div>                        
                    </div>    
                    <div class="row " >
                        <div class="col-8">
                            {{form.taller.label}}
                            {{form.taller}}
                        </div>
                        <div class="col-4 mt-4">
                            <a href="{% url 'gestion:taller' %}" target="blank" class="btn btn-primary">Crear local</a>
                        </div>                        
                    </div>    
                    <div class="row " >
                        <div class="col-8">
                            {{form.tipo_mantenimiento.label}}
                            {{form.tipo_mantenimiento}} 
                        </div>
                        <div class="col-4 mt-4">
                            <a href="{% url 'gestion:tipomantenimiento' %}" target="blank" class="btn btn-primary">Crear tipo Mant...</a>
                        </div>                        
                    </div>                                                                             
                    {{form.comprobante.label}}                                          
                    {{form.comprobante}}
                    {{form.razon.label}}
                    {{form.razon}}
                    {{form.nota.label}}
                    {{form.nota}}
                </div>
            </div>
        </div>        
        </div>
    </div>
</div>
{% endblock form %}