{% extends 'layout.html' %}
{% load static %}

{% block head %}
<script src="https://code.highcharts.com/highcharts.js"></script>    
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
{% endblock head %}


{% block content %}
<div class="row">
    <div class="col-12 col-sm-6 col-md-4">
      <div class="info-box">
        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-charging-station"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Gasolineras visitadas</span>
          <span id="gasolineras" class="info-box-number">
                        
          </span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-4">
      <div class="info-box mb-3">
        <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-biking"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Vehiculos en posesión</span>
          <span id="vehiculos" class="info-box-number"></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix hidden-md-up"></div>

    
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-4">
      <div class="info-box mb-3">
        <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-fire-alt"></i></span>

        <div class="info-box-content" >
          <span class="info-box-text" >Combustible consumido</span>
          <span id="consumido" class="info-box-number"></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
  </div>


<div class="accordion" id="accordionExample">    
    <div class="card">
        <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
            <button id="btnVer" class="btn btn-success collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <i class="fas fa-angle-double-down"></i> Ver totales 
            </button>
            <button class="btn btn-primary" id="btnActualizar"><i class="fas fa-sync"></i> Actualizar</button>
        </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                    <div class="inner">
                        <h3 id="lavados" ></h3>
                
                        <p>Dinero gastado en lavados</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-tint"></i>  
                    </div>
                    <a target="_blank" href="{% url 'gestion:lavado' %}" class="small-box-footer">Ir a lavados <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-md-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                    <div class="inner">
                        <h3 id="mantenimientos"></h3> 
                
                        <p>Dinero gastado en mantenimientos</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-oil-can"></i>
                    </div>
                    <a target="_blank" href="{% url 'gestion:mantenimiento' %}" class="small-box-footer">Ir a mantenimientos <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <!-- ./col -->
                <div class="col-md-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                    <div class="inner">
                        <h3 id="recargas"></h3>
                
                        <p>Dinero gastado en recargas</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-gas-pump"></i>
                    </div>
                    <a target="_blank" href="{% url 'gestion:recarga' %}" class="small-box-footer">Ir a recargas <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-md-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                    <div class="inner">
                        <h3 id="totalTodo"></h3>
                
                        <p>Dinero gastado en todo lo anterior</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-money-bill-wave"></i>
                    </div>
                    <a href="https://www.mercadolibre.com.co/" target="blank" class="small-box-footer">Vender el vehículo <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>            
            </div>
        </div>
    </div>
</div>



<div class="container-fluid">
    
    <div class="row">

        <div class="col-lg-6">
            <div class="card">
                <div id="container"></div>
            </div>                
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div id="tortaMantenimiento"></div>
            </div>            
        </div>
        
        <div class="col-lg-6">
            <div class="card">
                <div id="tortaRecarga"></div>
            </div>            
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div id="tortaLavado"></div>
            </div>            
        </div>

    </div>
    
</div>


<script >

    const lavados = document.getElementById('lavados'),      
        recargas = document.getElementById('recargas'),
        mantenimientos = document.getElementById('mantenimientos'),
        totalTodo = document.getElementById('totalTodo'),
        btnVer = document.getElementById('btnVer'),
        btnActualizar = document.getElementById('btnActualizar'),
        gasolineras = document.getElementById('gasolineras'),
        vehiculos = document.getElementById('vehiculos'),
        //km = document.getElementById('km'),
        consumido = document.getElementById('consumido'),
        actTodo = document.getElementById('actTodo');
    
    const formato = new Intl.NumberFormat();

    //Esto carga los datos del INFOBOX
    function infoBox(){
        $.ajax({
        url: window.location.pathname,
        type: 'POST',
        data: {
            'action': 'carga'
        },
        dataType: 'json'
        }).done(function (data){                        
            if(!data.hasOwnProperty('error')){  

                const coso = data;                                                                

                gasolineras.innerHTML = formato.format(coso['gas'][0].numero);
                
                vehiculos.innerHTML = formato.format(coso['vehiculos'][0].numero);
                
                //km.innerHTML = formato.format(coso['km'][0].distancia__sum);

                consumido.innerHTML = formato.format(coso['total_combustible'][0].cantidad__sum) + ' gal';
                
                return false;
            }   
        })  
    }
    
    //Esta función carga los datos del deplegable
    function datosSumados(){
        $.ajax({
        url: window.location.pathname,
        type: 'POST',
        data: {
            'action': 'searchdata'
        },
        dataType: 'json'
        }).done(function (data){                        
            if(!data.hasOwnProperty('error')){  

                const coso = data;    
                const sign = '$';                                            

                lavados.innerHTML= sign + formato.format(coso['lavados'][0].numero);                
                
                mantenimientos.innerHTML= sign + formato.format(coso['mantenimientos'][0].numero);              
                
                recargas.innerHTML= sign + formato.format(coso['recargas'][0].numero);   
                
                totalTodo.innerHTML = sign + formato.format(coso['total_todo'][0].numero);

                return false;
            }   
        })  
    }

    $('#btnVer').one(datosSumados());    

    //Esta función actualiza el desplegable
    btnActualizar.addEventListener('click', ()=>{
        datosSumados();     
    })

    //Este es el gráfico de barras y funciona sin AJAX
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Reporte de gastos totales'
        },
        subtitle: {
            text: 'Esto incluye a todos los vehículos'
        },
        xAxis: {
            categories: [
                'En',
                'Feb',
                'Mar',
                'Abr',
                'May',
                'Jun',
                'Jul',
                'Ago',
                'Sep',
                'Oct',
                'Nov',
                'Dic'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Dinero gastado'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} $</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Lavados',
            showInLegend:true,
            colorByPoint:false,
            data: {{reporte_lavados|safe}}/*Esto es una variable que viene desde el backend*/
        },
        {
            name: 'Mantenimientos',
            showInLegend:true,
            colorByPoint:false,
            data: {{reporte_mantenimientos|safe}}
        },
        {
            name: 'Recargas',
            showInLegend:true,
            colorByPoint:false,
            data: {{reporte_recargas|safe}}
        }]
    });

    //Este es el gráfico de torta por mantenimientos
    let tortaMantenimiento = Highcharts.chart('tortaMantenimiento', {        
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Gastos por el mes actual por mantenimientos'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },        
    });
    
    //Este es el gráfico de torta por recargas de combustibles
    let tortaRecarga = Highcharts.chart('tortaRecarga', {        
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Gastos por el mes actual por recargas'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },        
    });
    
    //Este es el gráfico de torta por lavados
    let tortaLavado = Highcharts.chart('tortaLavado', {        
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Gastos por el mes actual por lavados'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },        
    });

    function get_gastos_mes_actual_mant(){
        $.ajax({
        url: window.location.pathname,
        type: 'POST',
        data: {'action': 'get_gastos_mes_actual_mant'},
        dataType: 'json'
        }).done(function (data){                        
            if(!data.hasOwnProperty('error')){  
                tortaMantenimiento.addSeries(data);                
                return false;
            }   
        }) 
    }

    function get_gastos_mes_actual_reca(){
        $.ajax({
        url: window.location.pathname,
        type: 'POST',
        data: {'action': 'get_gastos_mes_actual_reca'},
        dataType: 'json'
        }).done(function (data){                        
            if(!data.hasOwnProperty('error')){  
                tortaRecarga.addSeries(data);                
                return false;
            }   
        }) 
    }

    function get_gastos_mes_actual_lava(){
        $.ajax({
        url: window.location.pathname,
        type: 'POST',
        data: {'action': 'get_gastos_mes_actual_lava'},
        dataType: 'json'
        }).done(function (data){                        
            if(!data.hasOwnProperty('error')){  
                tortaLavado.addSeries(data);                
                return false;
            }   
        }) 
    }

    document.addEventListener('DOMContentLoaded', ()=>{
        infoBox();
        get_gastos_mes_actual_mant();
        get_gastos_mes_actual_reca();
        get_gastos_mes_actual_lava();
    });

    actTodo.addEventListener('click', ()=>{
        infoBox();
        datosSumados();
        get_gastos_mes_actual_mant();
        get_gastos_mes_actual_reca();
        get_gastos_mes_actual_lava();
    })        
    
</script>

{% endblock content %}
    