{% extends 'layout.html' %}
{% load static %}

{% block head %}
<script src="https://code.highcharts.com/highcharts.js"></script>    
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
{% endblock head %}


{% block content %}

<div class="accordion" id="accordionExample">    
    <div class="card">
        <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
            <button id="btnVer" class="btn btn-success collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <i class="fas fa-angle-double-down"></i> Ver totales 
            </button>
            <button class="btn btn-primary" id="btnActualizar"><i class="fas fa-sync"></i> Actualizar</button>
        </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                    <div class="inner">
                        <h3 id="lavados" ></h3>
                
                        <p>Dinero gastado en lavados</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-tint"></i>  
                    </div>
                    <a target="_blank" href="{% url 'gestion:lavado' %}" class="small-box-footer">Ir a lavados <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-md-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                    <div class="inner">
                        <h3 id="mantenimientos"></h3> 
                
                        <p>Dinero gastado en mantenimientos</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-oil-can"></i>
                    </div>
                    <a target="_blank" href="{% url 'gestion:mantenimiento' %}" class="small-box-footer">Ir a mantenimientos <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <!-- ./col -->
                <div class="col-md-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                    <div class="inner">
                        <h3 id="recargas"></h3>
                
                        <p>Dinero gastado en recargas</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-gas-pump"></i>
                    </div>
                    <a target="_blank" href="{% url 'gestion:recarga' %}" class="small-box-footer">Ir a recargas <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-md-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                    <div class="inner">
                        <h3 id="totalTodo"></h3>
                
                        <p>Dinero gastado en todo lo anterior</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-money-bill-wave"></i>
                    </div>
                    <a href="https://www.mercadolibre.com.co/" target="blank" class="small-box-footer">Vender el vehículo <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>            
            </div>
        </div>
    </div>
</div>



<div class="container-fluid">
    
    <div class="row">

        <div class="col-lg-6">
            <div class="card">
                <div id="container"></div>
            </div>                
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div id="container-pie"></div>
            </div>            
        </div>
        
    </div>
    
</div>

<script >

    const lavados = document.getElementById('lavados'),      
        recargas = document.getElementById('recargas'),
        mantenimientos = document.getElementById('mantenimientos'),
        totalTodo = document.getElementById('totalTodo'),
        btnVer = document.getElementById('btnVer'),
        btnActualizar = document.getElementById('btnActualizar');

    function datosSumados(){
        $.ajax({
        url: window.location.pathname,
        type: 'POST',
        data: {
            'action': 'searchdata'
        },
        dataType: 'json'
        }).done(function (data){                        
            if(!data.hasOwnProperty('error')){  
                let coso = data;                
                
                const formato = new Intl.NumberFormat();

                lavados.innerHTML='$' + formato.format(coso['lavados'][0].numero);                
                
                mantenimientos.innerHTML='$' + formato.format(coso['mantenimientos'][0].numero);              
                
                recargas.innerHTML='$' + formato.format(coso['recargas'][0].numero);   
                
                totalTodo.innerHTML = '$' + formato.format(coso['total_todo'][0].numero);
                
                return false;
            }                             
        })  
    }

    $('#btnVer').one(datosSumados());    

    btnActualizar.addEventListener('click', ()=>{
        datosSumados();     
    })

    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Reporte de gastos totales'
        },
        subtitle: {
            text: 'Esto incluye a todos los vehículos'
        },
        xAxis: {
            categories: [
                'En',
                'Feb',
                'Mar',
                'Abr',
                'May',
                'Jun',
                'Jul',
                'Ago',
                'Sep',
                'Oct',
                'Nov',
                'Dic'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Dinero gastado'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} $</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Lavados',
            showInLegend:true,
            colorByPoint:false,
            data: {{reporte_lavados|safe}}/*Esto es una variable que viene desde el backend*/
        },
        {
            name: 'Mantenimientos',
            showInLegend:true,
            colorByPoint:false,
            data: {{reporte_mantenimientos|safe}}
        },
        {
            name: 'Recargas',
            showInLegend:true,
            colorByPoint:false,
            data: {{reporte_recargas|safe}}
        }]
    });

    Highcharts.chart('container-pie', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Browser market shares in January, 2018'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            name: 'Brands',
            colorByPoint: true,
            data: [{
                name: 'Chrome',
                y: 61.41,
                sliced: true,
                selected: true
            }, {
                name: 'Internet Explorer',
                y: 11.84
            }, {
                name: 'Firefox',
                y: 10.85
            }, {
                name: 'Edge',
                y: 4.67
            }, {
                name: 'Safari',
                y: 4.18
            }, {
                name: 'Sogou Explorer',
                y: 1.64
            }, {
                name: 'Opera',
                y: 1.6
            }, {
                name: 'QQ',
                y: 1.2
            }, {
                name: 'Other',
                y: 2.61
            }]
        }]
    });
</script>

{% endblock content %}
    