{% extends 'form.html' %}

{% block form %}
<div class="card-body ">
    <div class="row">
        <div class="mx-auto col-lg-8">
            <div class="card ">               
                <div class="card-body">  
                    {{form.cantidad.label}}
                    {{form.cantidad}}
                    {{form.precio_galon.label}}
                    {{form.precio_galon}}
                    {{form.costo_total.label}}
                    {{form.costo_total}}
                    {{form.kilometraje.label}}
                    {{form.kilometraje}}
                    <div class="row " >
                        <div class="col-8">
                            {{form.vehiculo.label}}
                            {{form.vehiculo}}
                        </div>
                        <div class="col-4 mt-4">
                            <a href="{% url 'gestion:create_vehiculo' %}" target="blank" class="btn btn-primary">Crear Vehículo</a>
                        </div>                        
                    </div>                           
                    <div class="row " >
                        <div class="col-8">
                            {{form.gasolinera.label}}
                            {{form.gasolinera}}
                        </div>
                        <div class="col-4 mt-4">
                            <a href="{% url 'gestion:gasolinera' %}" target="blank" class="btn btn-primary">Crear gasolinera</a>
                        </div>                        
                    </div>    
                    <div class="row " >
                        <div class="col-8">
                            {{form.tipo_combustible.label}}
                            {{form.tipo_combustible}} 
                        </div>
                        <div class="col-4 mt-4">
                            <a href="{% url 'gestion:tipocombustible' %}" target="blank" class="btn btn-primary">Crear tipo combus...</a>
                        </div>                        
                    </div>                                                                             
                    {{form.comprobante.label}}                                          
                    {{form.comprobante}}
                    {{form.nota.label}}
                    {{form.nota}}
                </div>
            </div>
        </div>        
        </div>
    </div>
</div>
{% endblock form %}